* {
    margin: 0;
    padding: 0;
}
.tabs {
    width: 200px;
    height: 80px;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .tab-item {
        list-style: none;
        width: 60px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        position: relative;
        color: #909399;
        &::after {
            content: "";
            width: 0;
            height: 2px;
            background-color: #00adb5;
            position: absolute;
            left: 100%;
            bottom: 0;
            transition: all .4s;
        }
        &.active {
            color: #00adb5;
            &::after {
            width: 100%;
            left: 0;
            transition-delay: 0.1s;
            }
            & ~ li::after {
            left: 0;
            }
        }
    }
    
}
//鼠标悬停
// .tabs {
    
//     width: 200px;
//     height: 80px;
//     border: 1px solid green;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     .tab-item {
//         list-style: none;
//         width: 60px;
//         height: 40px;
//         text-align: center;
//         cursor: pointer;
//         position: relative;
//         color: #909399;
//         &::after {
//             content: "";
//             width: 0;
//             height: 2px;
//             background-color: #00adb5;
//             position: absolute;
//             left: 100%;
//             bottom: 0;
//             transition: all .4s;
//         }
//         &:hover {
//             color: #00adb5;
//             &::after {
//             width: 100%;
//             left: 0;
//             transition-delay: 0.1s;
//             }
//             & ~ li::after {
//             left: 0;
//             }
//         }
//     }
    
// }