
<ion-content>
  <ion-item *ngFor="let item of subresourceList">
    <div ngClass={{item.available}} class="item-wrapper">
      <div class="item-title">{{item.title}}</div>
      <div class="item-info" *ngFor="let i of item.list">
        <div class="info-name">{{i.name}}</div>
        <div class="info-value">{{i.value}}</div>
      </div>
    </div>
  </ion-item>
  <ion-infinite-scroll id="infinite-scroll" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content id="scroll-content" loadingSpinner="crescent" loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

