
<ion-content>
  <div class="time">
    采集时间 {{time}}
  </div>
  <div class="item" *ngFor="let item of infoArr">
    <div class="item-wrapper">
      <div class="item-name">
        {{item.targetName}}
      </div>
      <div class="item-value" (click)="changeFlag(item)">
          <div class="targetValue">{{item.targetValue[0]}}</div>
          <div class="list" [ngClass]="{show: item.flag}">
            <p *ngFor="let item of item.targetValue">{{item}}</p>
            
          </div>
      </div>
    </div>
  </div>
</ion-content>
